*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/.name
/app/src/main/res/drawable/app_back.jpg
/app/build.gradle
/build.gradle
/app/src/main/java/com/example/composemvvmnoteapp/ui/theme/Color.kt
/app/src/main/java/com/example/composemvvmnoteapp/presentation/utils/CommonWidgets.kt
/.idea/deploymentTargetDropDown.xml
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.properties
/app/src/main/java/com/example/composemvvmnoteapp/presentation/HomeScreen.kt
/.idea/kotlinc.xml
/app/src/main/java/com/example/composemvvmnoteapp/presentation/loginscreen/LoginScreen.kt
/.idea/migrations.xml
/.idea/misc.xml
/app/src/main/res/values/strings.xml
/app/src/main/java/com/example/composemvvmnoteapp/ui/theme/Theme.kt
/app/src/main/res/values/themes.xml
/.idea/vcs.xml
